/* menu start here */
:root{
  --main-color:#fd4646;
  --text-color:#171427;
  --bg-color:#fff;
}
#cart-icon{
 font-size: 1.8rem;
  cursor: pointer;
  transition: 0.3s;
}
/* cart */
.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background:#fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.3s;
 


}

.cart.active{
  left: 0;
  
}
#close-cart{


 right: 0.8rem;
 font-size: 2rem;
 color:#171427;
 cursor: pointer;
 padding: 0.2rem;
 transition: 0.3s;

}

/* menu end here */

#mini-navbar {
  top: 0;
  position: fixed;
  height: 4.5rem;
  width: 103%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-left: -1rem;
  margin-right: 1rem;
  
 
}
#mini-navbar > div {
  /* height: 100%; */
  width: 15%;
 
}
.listmenu{
  padding: 20px;
    background-color: #fff;

}
.logo2{
  width: 40%;
 height: 3.4rem;
 
}
.list{
  display: flex; 
  gap: 2rem;
 
}

.logo img {
  width: 46%;

  margin-left: 4rem;
  margin-top: -11.5rem;
}
.right {
  display: flex;
  margin-left: 93rem; 
  
}
.right a {
  color: black;
    margin-top: -4.2rem; 
    margin-left: -11rem; 
}
.right > div {
  width: 50%;
  height: 100%;
}
.signinbut {
  display: block;
  margin: auto;
  color: #fff;
  background-color: #df1e2e;
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
    0px 3px 1px -2px rgb(0 0 0 / 12%);
  padding: 6px 25px;
  font-size: 0.875rem;
  min-width: 69px;
  box-sizing: border-box;

  line-height: 1.75;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: none;
  margin-top: -3.5rem;
  
}
.signinbut:hover {
  cursor: pointer;
  background-color: #9b1f29;
}
.materialsIcon {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  margin-left: 2rem;
  
}
.materialsIcon:hover {
  background-color: rgb(237, 234, 234);
  border-radius: 100%;
}
/* <!-- nev bar menu start here --> */

.menulist{
  margin-left: -16rem;
  
 }
 
 .menulist i{
   font-size: 2rem;
   margin-left: -1.2rem;
   color: rgb(68, 100, 120);
   padding-right:2rem ;
 }
 
 .menuoption{
   font-size: 1.5rem;
   font-family: "Roboto", "Helvetica", "Arial", sans-serif;
   text-decoration: none;
   color: #171427;
   font-weight: 600;
 }
 .hr{
   height: 2px;
  margin-left: -3rem;
  width: 163%;
 }
 
 /* <!-- nev bar menu start here --> */
/* --------------------- NAV-END --------------- */

  .check_email_mobile{
    height: 30px;
    width: auto;
    border: 1px solid red;
    text-align: center;
    background-color: red;
    color: white;
    padding-bottom: 10px;
    margin-left: -1rem;
    margin-right: -1.3rem;
  }
  .button_email{
    border: none;
    background-color: red;
    color: white;
   
  }
  .button_number{
    border: none;
    background-color: red;
    color: white;
  }
  .are_you_doing{
    background-color: #023134e8;
    height: 250px;
    width: 103%;
    margin-left: -2rem;
    border: 1px solid rgb(193, 147, 10);
  }
  .img_for_doing{
    text-align: center;
    
  }
  .middle{
    height: auto;
    width: 80%;
    border: 1px solid  white;
    margin: auto;
    
  }
  .certified_online{
    color: grey;
  }
  .middle_bottom{
    height: auto;
    width: 80%;
    border: 1px solid white;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
  }
  .middle_bottom1{
    border: 1px solid white;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
   
  }
 .middle_bottom2{
    height: auto;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    
    width: 100%;
  }
  .middle_bottom_1_1{
    height: auto;
    width: 23%;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
  }
  .middle_bottom_1_2{
    height: auto;
    width: 23%;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
  }
  .middle_bottom_1_3{
    height: auto;
    width: 23%;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
  }
  .middle_bottom_1_4{
    height: auto;
    width: 23%;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
  }
  .middle_bottom_2_1{
    height: auto;
    width: 23%;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
  }
  .middle_bottom_2_2{
    height: auto;
    width: 23%;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
  }
  .middle_bottom_2_3{
    height: auto;
    width: 23%;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
  }
  .middle_bottom_2_4{
    height: auto;
    width: 23%;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
   
  }
.middle_bottom img{
    text-align: center;
    
}
.button_middle{
    display: flex;
    justify-content: flex-end;
   
}
.middle_bottom h4{
color: black;
text-align: right;
}
.middle_bottom h5{
   text-align: right;
    }
.button_middle .know{
       border: none;
       background-color: white;
       margin-right: 30px;
    }
.add{
        background-color: red;
        color: white;
    }
.button_couponcode{
    height: 40px;
    width: 103%;
    margin-left: -2rem;
    border: 1px solid red;
    text-align: center;
    background-color: red;
    color: whitesmoke;
    padding-bottom: .5rem;
}
.footer{
    height: 350px;
    width: auto;
    border: 1px solid red;
}
.button_email:hover {
    cursor: pointer;
    color:white;
  }
  .button_number:hover{
    cursor: pointer;
    color: white;
  }
  .middle_bottom button:hover{
    cursor: pointer;
    color: lightskyblue;
  }
  .middle_bottom h4:hover{
    cursor: pointer;
   
  }
  .middle_bottom button{
    border-radius: 3px;
    border: none;
  }
  .footer{
    background-color: rgb(38, 118, 143);
  }
 .middle_bottom1{
    margin-bottom: 1.3rem;
 }
 .middle_bottom2{
    margin-bottom: 2rem;
 }
 .middle_bottom img{
    height: 170px;
 }
 .middle_bottom_1_1 h4{
    margin-right: 20px;
 }
 .middle_bottom_1_2 h4{
    margin-right: 20px;
 }
 .middle_bottom_1_3 h4{
    margin-right: 20px;
 }
 .middle_bottom_1_4 h4{
    margin-right: 20px;
 }
 .middle_bottom_2_1 h4{
    margin-right: 20px;
 }
 .middle_bottom_2_2 h4{
    margin-right: 20px;
 }
 .middle_bottom_2_3 h4{
    margin-right: 20px;
 }
 .middle_bottom_2_4 h4{
    margin-right: 20px;
 }

 
/* <!-- List of  Foter start  here --> */

.foter{

  width: 102%;
  margin-left: -1rem;
  padding: 2rem;
background-color: rgb(68, 100, 120);

}
.foter img{
  width: 90%;
  margin-left: 3rem;
  margin-top: 1rem;

}
/* <!-- List of  Foter end here --> */

.add{
  padding: 5px;
  margin: 7px;
}