* {
  margin: 0;
  padding: 0;
}
/* --------- MINI-NAV START ---------------- */
#mini-navbar {
  height: 70px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  justify-content: space-between;
}
#mini-navbar > div {
  height: 100%;
  width: 15%;
  /* border: 1px solid red; */
}
.left {
  display: flex;
  width: 5%;
}
.left a {
  color: black;
}
.left > div {
  height: 100%;
  width: 50%;
  /* border: 1px solid green; */
}
.logo img {
  width: 80%;
  padding-top: 10px;
}
.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.hamburger:hover {
  background-color: rgb(237, 234, 234);
  border-radius: 50%;
}
.right {
  display: flex;
}
.right a {
  color: black;
}
.right > div {
  width: 50%;
  height: 100%;
}
.signinbut {
  display: block;
  margin: auto;
  color: #fff;
  background-color: #df1e2e;
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
    0px 3px 1px -2px rgb(0 0 0 / 12%);
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;

  line-height: 1.75;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: none;
  margin-top: 18px;
  margin-left: -18px;
}
.signinbut:hover {
  cursor: pointer;
  background-color: #9b1f29;
}
.materialsIcon {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  margin-right: 17px;
}
.materialsIcon:hover {
  background-color: rgb(237, 234, 234);
  border-radius: 100%;
}
/* --------------------- NAV-END --------------- */
/* --------------CONTAINER START--------- */

#container {
  height: 44rem;
  width: 82%;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}
#container > .leftCont {
  width: 25%;
  height: auto;
  /* border: 1px solid red; */
}
#container > .rightCont {
  width: 71%;
  height: 100%;
  /* border: 1px solid red; */
  display: block;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0px 30px 30px 30px;
}
.rightCont > div {
  width: 100%;
  /* border: 1px solid black; */
}
.rightCont > img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.jobtitle {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0em;
  padding: 35px 0px 0px 35px;
}
.rightCont > div:nth-child(1) {
  height: 6%;
}
.rightCont > div:nth-child(2) {
  height: 80%;
}
.card {
  display: flex;
  justify-content: space-between;
}
.card-left-image {
  /* border: 1px solid brown; */
  padding: 25px 0px 0px 10px;
}
.card-info {
  /* border: 1px solid #9b1f29; */
  padding: 10px 0px 0px 15px;
}
.card-info > h5 {
  color: #3c4858;
  font-size: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
.cardList {
  /* border: 1px solid red; */
  margin-top: -60px;
}
.jobtitle > h5 {
  color: #3c4858;
  font-size: 25px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  margin-left: -30px;
}
.card-info > p {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01071em;
}
.card-left {
  display: flex;
}
.card-right {
  width: auto;
  /* height: 50px;  */
  /* border: 1px solid black; */
  line-height: 30px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.upgradebut {
  display: block;
  margin: auto;
  color: #087cdd;
  background-color: white;

  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  line-height: 1.75;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: none;
  margin-top: 8px;
  margin-left: -18px;
}
.upgradebut:hover {
  background-color: #e7f2fb;
  cursor: pointer;
}
.sharing-logo {
  /* border: 1px solid red; */
  width: 42px;
  /* height: 45px; */
  border-radius: 50%;
  text-align: center;
  margin-left: 740px;
  color: rgb(135, 133, 133);
  padding: 24px 20px;
}

.sharing-logo:hover {
  background-color: rgb(234, 230, 230);
  cursor: pointer;
}

.shareLogos {
  width: 20px;
}
.hidden-links {
  display: flex;
  gap: 5px;
  padding-top: 7px;
}
/* --------------CONTAINER END--------- */
