*{
    box-sizing: inherit;
}


/* menu start here */
:root{
    --main-color:#fd4646;
    --text-color:#171427;
    --bg-color:#fff;
  }
  #cart-icon{
   font-size: 1.8rem;
    cursor: pointer;
    transition: 0.3s;
  }
  /* cart */
  .cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background:#fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 0.3s;
   
  
  
  }
  
  .cart.active{
    left: 0;
    
  }
  #close-cart{
  
  
   right: 0.8rem;
   font-size: 2rem;
   color:#171427;
   cursor: pointer;
   padding: 0.2rem;
   transition: 0.3s;
  
  }
  
  /* menu end here */
  
  #mini-navbar {
    top: 0;
    position: fixed;
    height: 4.5rem;
    width: 103%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-left: -1rem;
    margin-right: 1rem;
    
   
  }
  #mini-navbar > div {
   
    width: 15%;
   
  }
  .listmenu{
    padding: 20px;
      background-color: #fff;
  
  }
  .logo2{
    width: 40%;
   height: 3.4rem;
   
  }
  .list{
    display: flex; 
    gap: 2rem;
   
  }
  
  .logo img {
    width: 46%;
   
    margin-left: 4rem;
    margin-top: -11.5rem;
  }
  .right {
    display: flex;
    margin-left: 93rem; 
    
  }
  .right a {
    color: black;
      margin-top: -4.2rem; 
      margin-left: -11rem; 
  }
  .right > div {
    width: 50%;
    height: 100%;
  }
  .signinbut {
    display: block;
    margin: auto;
    color: #fff;
    background-color: #df1e2e;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
      0px 3px 1px -2px rgb(0 0 0 / 12%);
    padding: 6px 25px;
    font-size: 0.875rem;
    min-width: 69px;
    box-sizing: border-box;
  
    line-height: 1.75;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    border: none;
    margin-top: -3.5rem;
    
  }
  .signinbut:hover {
    cursor: pointer;
    background-color: #9b1f29;
  }
  .materialsIcon {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    margin-left: 2rem;
    
  }
  .materialsIcon:hover {
    background-color: rgb(237, 234, 234);
    border-radius: 100%;
  }

  .menulist{
    margin-left: -16.5rem;
    
   }
   
   .menulist i{
     font-size: 2rem;
     margin-left: -1.2rem;
     color: rgb(68, 100, 120);
     padding-right:2rem ;
   }
   
   .menuoption{
     font-size: 1.5rem;
     font-family: "Roboto", "Helvetica", "Arial", sans-serif;
     text-decoration: none;
     color: #171427;
     font-weight: 600;
   }
   .hr{
     height: 2px;
    margin-left: -3rem;
    width: 163%;
   }
   
   /* <!-- nev bar menu start here --> */
  /* --------------------- NAV-END --------------- */






.container-bgimg{
    margin-top: 80px;
    background-image: url(https://assets.interntheory.com/creative/Web-Banner.jpg);
    background-size: cover;
    min-height: calc(100vh - 50px);
    padding: 20px;
    border-radius: 4px;
}

.register-box{
    margin: auto;
    width: 42%;
    box-shadow: 0px 8px 10px -5px rgb(0 0 0 / 20%), 0px 16px 24px 2px rgb(0 0 0 / 14%), 0px 6px 30px 5px rgb(0 0 0 / 12%);
    background-color: #fff;
    box-sizing: border-box;
    height: 1060px;
}

.register-top{
    padding: 30px 30px 0px;
    width: 100%;
}

.register-top h5{
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0em;
    margin: 0;
}

.register-top h6{
    margin: 0;
    margin-bottom: 0.35em;
    color: #999;
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.00938em;
}

.register-top a{
    color: #087CDD;
    text-decoration: none;
    cursor: pointer;
}

.register-tohire {
    border: 1px dashed rgb(239, 147, 154);
    margin-top: 0px;
    padding-left: 5px;
    border-radius: 5px;
    background: rgb(252, 239, 241);
    margin-bottom: 20px;
    text-align: left;
}

.register-tohire p{
    color: #3C4858;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0.01071em;
}
.a{
 margin-left: -4rem;
 padding-top: 2px;
}
#login-social{
    padding: 5px;
    background: rgb(66, 103, 178);
    margin-bottom: 10px;
    width: 92%;
    margin-left: 30px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
}

#login-social img{
   width: 25px;
   background: rgb(255, 255, 255);
   padding: 3px;
   border-radius: 4px;
   margin-right: 230px;
   margin-left: 5px;
}

#login-social-sec{
    padding: 5px;
    background-color: #087CDD; 
    width: 92%;
    margin-left: 30px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
}

#login-social-sec:hover{
    background:rgb(66, 103, 178);
}

#login-social-sec img{
    width: 25px;
    background: rgb(255, 255, 255);
    padding: 3px;
    border-radius: 4px;
    margin-right: 240px;
    margin-left: 5px;
}

#login-social a{
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 550;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

#login-social-sec a{
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 550;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    color: #fff;
}

#or{
    text-align: center;
    color: #999;
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.00938em;
}

.register-box .form{
    padding-left: 30px;
    width: 95%;
}

.form .input-field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.input-field input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field .select-css{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field .select-css:is(:focus, :valid){
    border-bottom-color: rgb(5, 86, 154);;
}

input,select{
    font-size: 16px;
    color: #3C4858;
}

/* input[type=text], select{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54); 
} */

.input-field input:is(:focus, :valid){
    border-bottom-color: rgb(5, 86, 154);
}

.form .submit input{
    color: #DF1E2E;
    border: 1px solid rgba(223, 30, 46, 0.5);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    background-color: white;
    transition: all 0.3 ease;
}

.form .submit:hover{
    border: 1px solid #DF1E2E;
    border-radius: 4px;
}

/* <!-- List of  Foter start  here --> */

.foter{
    width: 102%;
    margin-left: -1rem;
    padding: 2rem;
  background-color: rgb(68, 100, 120);
  
  }
  .foter img{
    width: 90%;
    margin-left: 3rem;
    margin-top: 1rem;
  
  }
  /* <!-- List of  Foter end here --> */